.menu {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #fff;
}

.menu__title {
  margin: 0 0 24px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 780px;
}

.menu__subtitle {
  margin: 0 0 100px;
  max-width: 780px; /* double check numbers */
  align-items: center; /* centers the stuff inside the element */
  font-family: 'Noto Serif', 'times new roman', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center; /* centers text within element*/
}

.menu__cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

/* menu__cards holds all the cards and cards is
individual cards within the menu__card */

/* always remove default margins so they do
not interfere */

/* apply flex box to menu__cards and flex wrap
to create a column with 2 cards on the 1st row and
1 card on the 2nd row */
