.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 30px 80px 40px;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  position: relative; /* not in brief mentioned in youtube assist */
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 645px;
  height: 568px;
}

.header__title {
  margin: 183px 0 0;
  max-width: 729px;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__span-accent {
  display: block;
  font-family: 'Noto Serif', 'times new roman', serif;
  font-style: italic;
  font-weight: 60; /* if I do not add font-weight and I have font family options even though noto serif is available it will still default to times new roman instead of using noto serif*/
  color: #3f96f3;
}

.header__description {
  margin: 28px 0 0;
  position: relative;
  max-width: 683px;
  font-family: 'Noto Serif', 'times new roman', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.header__paragraph {
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  align-items: flex-start;
  /* justify-content: space-between; why don't you need this?*/
  list-style-type: none;
  gap: 20px;
  width: auto;
  margin: 0;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: black;
}

.nav__logo {
  width: 105px;
  height: 39px;
  left: -50px;
  position: relative;
}

.recipes {
  color: #ffffff;
  background-color: #0a2750;
  padding: 100px 80px 215px;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.recipes__title {
  margin: 0 0 24px;
  max-width: 580px;
  font-size: 44px;
  line-height: 52px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
}

.recipes__subtitle {
  margin: 0 0 80px;
  max-width: 438px;
  font-family: 'Noto Serif', 'times new roman', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0 120px;
}

.reservation__title {
  margin: 0 0 80px;
  text-align: center; /*if max width specified need margin 0 auto to center element*/
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #000;
}

.reservations__form {
  margin: 0 auto;
}

.form {
  max-width: 385px;
}

.form__label {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.form__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 8px 0 32px;
  padding: 15px 20px;
  border: 1px solid #838383;
  color: #000;
  border-radius: 4px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__input::placeholder {
  color: #838383;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__button {
  width: 100%;
  border: none;
  padding: 20px 0;
  background-color: #1878dc;
  color: #ffffff;
  border-radius: 4px;
  margin-bottom: 32px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  transition: background-color 1s;
}

.form__button:hover {
  background-color: #3f96f3;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  background-color: #1878dc;
  background-image: url(../images/check.svg);
}

.form__label_type_checkbox {
  display: flex;
  gap: 12px;
  justify-content: center;
}
